:root {
    --theme-color-0: rgb(189, 33, 33);
    --theme-color-1: rgb(254, 144, 111);
    --opaque-theme-color-1: rgba(255, 187, 166, 0.8);
    --theme-color-2: rgb(255, 196, 0);
    --theme-color-3: rgb(255, 235, 235);
    --theme-color-4: gray;
    --navbar-height: 10vh;
    --bar-text-color: white;
    --theme-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: var(--theme-color-0);
    height: var(--navbar-height);
    width: 100vw;
    padding: .5em;
}

#nav-image, #nav-menu, .nav-button {
    /* border: 2px solid black; */
    flex: 1 1 0;
}

#nav-menu, .nav-button {
    text-align: center;
    align-content: center;
    text-decoration: none;
}

main {
    width: 100vw;
    min-height: 100vh;
    background-image: url(/images/restaurang-savoy-small-plates.jpg);
    background-size: cover;
}

.content-div > h1 {
    font-family: var(--theme-font);
    font-size: 6rem;
    padding-bottom: 2vh;
    text-align: center;
}

.content-div > p {
    font-family: var(--theme-font);
    font-size: 1rem;
    padding-inline: 5rem;
    text-align: center;
}

.content-div {
    background-color: var(--opaque-theme-color-1);
    min-height: 100vh;
    margin-inline: 2rem;
    padding: 1rem;
}

#restaurant-info-text {
    font-family: var(--theme-font);
    padding: 1em;
    margin-block: 1em;
}

#restaurant-info-text > p {
    padding-block: 1em;
}

footer {
    padding: 1rem;
    background-color: var(--theme-color-0);
    color: var(--bar-text-color);
}

footer a {
    color: var(--bar-text-color);
}
